tmp
/.settings
#ignore thumbnails created by windows
Thumbs.db
/app/webroot/test
/app/webroot/product-images
/.project
/.buildpath
app/tmp/
/app/webroot/files/notification_log.log
/app/vendors/mailchimp/mailchimp.log
/app/webroot/images/redesign_2013/icons/Thumbs.db
