<IfModule mod_rewrite.c>
   RewriteEngine on
   
   	RewriteCond %{HTTP_HOST} ^sportnutrition.cz
	RewriteRule (.*) http://www.sportnutrition.cz/$1 [R=301,QSA,L] 
   
	RewriteRule ^registration/$	/registrace		[R=301,L]
	RewriteRule	^basket/$		/kosik			[R=301,L]
	RewriteRule	^search/$		/vyhledavani-produktu	[R=301,L]
	RewriteRule	^xml/zbozi.xml$		/exports/seznam_cz	[R=301,L]

	RewriteRule ^administrace/help.php	/admin/j_tips/view	[R=301,QSA,L]
   
   RewriteRule    ^$ app/webroot/    [L]
   RewriteRule    (.*) app/webroot/$1 [L]
</IfModule>

<IfModule mod_expires.c>
	ExpiresActive On
		
	ExpiresDefault                          "access plus 1 month"
	ExpiresByType text/html                 "access plus 1 day"
	ExpiresByType text/xml                  "access plus 1 day"
	ExpiresByType application/xml           "access plus 1 day"
	ExpiresByType application/json          "access plus 1 day"
	ExpiresByType application/rss+xml       "access plus 1 day"	
	
	ExpiresByType image/gif "access plus 5 hours"
	ExpiresByType image/jpeg "access plus 5 hours"
	ExpiresByType image/png "access plus 5 hours"
	ExpiresByType text/css "access plus 5 hours"
	ExpiresByType text/javascript "access plus 1 week"
	ExpiresByType application/javascript "access plus 1 week"
	ExpiresByType application/x-javascript "access plus 1 week"
	ExpiresByType image/x-icon "access plus 1 year"
</IfModule>